.background-image {
  height: 80vh;
  background: url('../خلفية1.jpg') no-repeat center center;
  background-size: cover;
}
.login-form {
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
  min-width: 30%;
  max-width: 60%;
  margin: auto;
}
.form-control {
  border: 2px solid #28a745;
  border-radius: 30px;
}
.btn-primary {
  background-color: #28a745;
  border: none;
  border-radius: 30px;
}
.btn-primary:hover {
  background-color: #218838;
}
.forgot-password {
  color: #007bff;
  text-decoration: none;
}
.forgot-password:hover {
  text-decoration: underline;
}